---
export const prerender = true;
import { getEntry, render } from 'astro:content';
import Page from '../layouts/Page.astro';
import RecentFilms from '../components/RecentFilms.astro';
import CurrentlyReading from '../components/CurrentlyReading.astro';

const entry = await getEntry('now', 'index');
const { Content } = await render(entry!);
---

<Page
  title="Now"
  description="What Aayushy Swetapragyan is focused on right now."
  intro={entry!.data.intro}
  updated={entry!.data.updated}
>
  <Content components={{ Letterboxd: RecentFilms, CurrentlyReading }} />

  <hr />

  <p><em>Inspired by Derek Sivers&rsquo; <a href="https://nownownow.com/">/now page movement</a>.</em></p>
</Page>
